mode: train
data_path: ./datasets/out_small
scenario: fluid
scenario_options: {}
method: gns
method_options: {}
model_path: ./models_small
output_path: ./rollouts_small
output_filename: rollout
batch_size: 1
noise_std: 0.0
noise: random_walk
loss: acceleration
ntraining_steps: 5
validation_interval: 2
nsave_steps: 10
rollout_interval: null
rollout_max_examples: 1
rollout_dataset: null
train_dataset_fraction: null
valid_dataset_fraction: null
train_dataset_count: null
valid_dataset_count: null
tensorboard_log_dir: null
log_interval: 1
tensorboard_interval: null
tensorboard_port: null
tensorboard_host: null
lr_init: 0.001
lr_decay: 0.1
lr_decay_steps: 1000
model_file: null
train_state_file: null
cuda_device_number: null
seed: 42
enable_ddp: false
ddp_backend: nccl
ddp_timeout_sec: 60
ddp_find_unused_parameters: false
amp_enable: false
amp_dtype: float16
gradient_accumulation_steps: 1
num_workers: 0
persistent_workers: false
pin_memory: false
prefetch_factor: null
