mode: train
data_path: ./datasets/out
scenario: fluid
scenario_options:
  rigid:
    dataset: ./datasets/out
    description: Default planar rigid-body scenes
  fluid:
    dataset: ./datasets/out_fluid/dam_break_left
    rollout_dataset: valid
    description: PySPH-based dam break fluid dataset
method: hamiltonian_sph
method_options:
  hamiltonian_sph:
    particle_mass: null
    sph:
      smoothing_length: null
      max_num_neighbors: 128
    conservative:
      mlp_layers: 2
      mlp_hidden_dim: 128
      dropout: 0.0
      phi_max_multiplier: 2.0
    dissipation:
      mlp_layers: 2
      mlp_hidden_dim: 128
      dropout: 0.0
      alpha_max: 1.0
      s_clip_scaled: 5.0
    cutoff:
      kind: cosine
    integrator:
      dt: 0.006
      type: leapfrog
    gravity: [0.0, -9.81]
    include_external_acceleration: true
    pos_feature_scale: null
    vel_feature_scale: null
model_path: ./models_small
output_path: ./rollouts_small
output_filename: rollout
batch_size: 1
noise_std: 0.0
noise: random_walk
loss: acceleration
ntraining_steps: 5
validation_interval: 2
nsave_steps: 10
rollout_interval: null
rollout_max_examples: 1
rollout_dataset: null
train_dataset_fraction: null
valid_dataset_fraction: null
train_dataset_count: null
valid_dataset_count: null
tensorboard_enable: false
tensorboard_log_dir: null
log_interval: 1
tensorboard_interval: null
tensorboard_port: null
tensorboard_host: null
lr_init: 0.0001
lr_decay: 0.1
lr_decay_steps: 1000
model_file: null
train_state_file: null
cuda_device_number: null
seed: 42
enable_ddp: false
ddp_backend: nccl
ddp_timeout_sec: 60
ddp_find_unused_parameters: false
amp_enable: false
amp_dtype: float16
gradient_accumulation_steps: 1
num_workers: 0
persistent_workers: false
pin_memory: false
prefetch_factor: null
